[Desktop Entry]
Version=1.0
Type=Application
Name=Legion HUD
Comment=Sentinel Network Control HUD
Exec=./legion-gui
TryExec=./legion-gui
Icon=legion-hud
Terminal=false
StartupNotify=false
Categories=Network;Utility;
